* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    background-color: #FAFAF8;
}

@media (max-width: 980px) {
  body{
    font-size: 2rem;
  }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
    width: 50px;
}

header > span {
    font-weight: 400;
}

@media (max-width: 980px) {
  header{
    height: 140px;
  }
  header > img {
    width: 80px;
  }
  header > span{
    font-size: 3rem;
  }
}

main {
    padding: 30px 30px 10px;
    max-width: 960px;
    margin: auto;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form .add-btn {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.add-ingredient-form .add-btn:hover{
    background-color: #30302d;
}
.add-ingredient-form .add-btn:active{
    background-color: #43433f;
}



.add-ingredient-form .delete-btn {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: #FAFAF8;
    width: 40px;
    font-size: 0.875rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 980px) { 
  .add-ingredient-form{
    height: 90px;
  }
  .add-ingredient-form > input {
    font-size: 2rem;
  }
  .add-ingredient-form .add-btn {
    width: auto;
    font-size: 2rem;
    padding: 0 20px;
  }
  .add-ingredient-form .delete-btn{
    width: 90px;
    font-size: 2rem;
  }
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 1.5rem;
}

@media (max-width: 980px) { 
  ul.ingredients-list > li {
      color: #475467;
      line-height: 3rem;
  }
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;

    margin-bottom: 2rem;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    height: 3rem;
    width: 9rem;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}

@media (max-width: 980px) {
  .get-recipe-container h3 {
    font-size: 2.5rem;
  }

  .get-recipe-container p {
    font-size: 1.5rem;
  }

  .get-recipe-container button {
    font-size: 1.5rem;
    height: 5rem;
    width: 11rem;
  }
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}
